[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
pymupdf = "*"
space-tracer = "*"
pytest = "*"
svgwrite = "*"
svglib = "*"
cairosvg = "*"
markdown = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.12"
